# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore system cache
.DS_Store

# Ignore models
*.pt
*.weights
*.onnx

# Ignore model configs
*.yaml
*.json
*.xml
*.pb
*.onnx*
*.names

# Ignore LaTex build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz